<html>
<head>
<title>BAD EARTHLING! BAD!</title>
</head>

<body bgcolor="#FFFFFF">
<img src="../image.jpg" align="left" />
<h1>BAD EARTHING! BAD!</h1>
<p>Login failed.  This shouldn't happen unless you've been naughty.</p>
<p>Remember: Any abuse of my kindness will not be tolerated and will be met with the kind of response only a schizophrenic hacker would dream up.</p>
<center>
<b>%reply%</b>
<form name="uam_login" method="get" action="http://192.168.1.1/cgi-bin/login">
<input type="hidden" name="challenge" value="%challenge%" />
<input type="hidden" name="uamip" value="%uamip%" />
<input type="hidden" name="uamport" value="%uamport%" />
<input type="hidden" name="userurl" value="%userurl%" />
<input type="hidden" name="redirurl" value="%redirurl%" />
<input type="hidden" name="timeleft" value="%timeleft%" />
<input type="hidden" name="Username" value="guest" />
<input type="hidden" name="Password" value="guest" />
<input type="submit" name="Button" value="Try again." />
</form>
</center>
</body>

</html>
