<html>
<head>
<meta http-equiv="Cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<!-- if uamsecret && password -->
<meta http-equiv="refresh" content="5;url=http://%uamip%:%uamport%/logon?username=%username%&password=%password%&userurl=%userurl_%" />
<!-- else
<meta http-equiv="refresh" content="5;url=http://%uamip%:%uamport%/logon?username=%username%&response=%response%&userurl=%userurl_%" />
-->
<title>Konnecting to teh Intarweb...</title>
</head>

<body bgcolor="#FFFFFF">
<img src="../image.jpg" align="left" />
<h1>Konnecting to teh Intarweb</h1>
<p>Please wait...</p>
<center>
<b>%reply%</b>
</center>
</body>

</html>
