<html>
<head>
<meta http-equiv="refresh" content="60;url=http://%uamip%:%uamport%/" />
<title>Greetings and salutations, Earthling.</title>
</head>

<body bgcolor="#FFFFFF">
<img src="../image.jpg" align="left" />
<h1>Greetings and salutations, Earthling.</h1>
<p>I provide to you this free wireless Internet access point.  However, it would be nice if you would buy me a beer.  This is not required but would please me greatly and I'm sure you would enjoy meeting such a supreme being as myself.</p>
<p>Any abuse of my kindness will not be tolerated and will be met with the kind of response only a schizophrenic hacker would dream up.</p>
<center>
<b>%reply%</b>
<form name="uam_login" method="get" action="http://192.168.1.1/cgi-bin/login">
<input type="hidden" name="challenge" value="%challenge%" />
<input type="hidden" name="uamip" value="%uamip%" />
<input type="hidden" name="uamport" value="%uamport%" />
<input type="hidden" name="userurl" value="%userurl%" />
<input type="hidden" name="redirurl" value="%redirurl%" />
<input type="hidden" name="timeleft" value="%timeleft%" />
<input type="hidden" name="username" value="guest" />
<input type="hidden" name="password" value="guest" />
<input type="submit" name="Button" value="Connect to the Internet" />
</form>
</center>
</body>

</html>
